/* reset */
@import "reset.css";

body {
    font-family: "Lucida Grande";
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    background: #424242;
    border: none;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
}
a {
    text-decoration: none;
    color: inherit;
    text-shadow: inherit;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.section {
    position: relative;
    padding: 10px 0;
     -webkit-box-shadow: 0 1px rgba(255,255,255,.1), 0 -1px rgba(0,0,0,.3) inset;
}

.section:first-of-type {
    padding-top: 0;
}
.section:last-of-type {
    -webkit-box-shadow: none;
}

.border-top {
    padding: 10px 0 0;
    margin: 5px 0 0;
     -webkit-box-shadow: 0 -1px rgba(0,0,0,.3), 0 1px rgba(255,255,255,.1) inset ;
}
.info {
    font-size: 10px;
    padding: 4px 0 0;
}

.columns {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    position: relative;
}
.column {
    max-width: 50%;
    padding: 0 5px;
    box-sizing: border-box;
    -webkit-flex: 1 0 auto;
}

.flex-wrap {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
}
.flex-wrap .flex-item {
    -webkit-flex: 1 0 auto;
}


.button {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    -webkit-border-radius: 2px;
    border: none;
    vertical-align: top;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.5) inset,
        0 1px rgba(255,255,255, .15);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
}
.columns .button {
    -webkit-flex: 1 0 auto;
}


.form-input{
    padding: 2px 0;
    box-sizing: border-box;
}
.form-input:not(.checkbox-input) {
    white-space: nowrap;
    overflow: hidden;
    display: -webkit-flex;
    -webkit-justify-content: center;
}
.form-input label {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: normal;
    display: block;
    width: auto;
    text-align: right;
    vertical-align: middle;
}
.text-input label{
    line-height: 15px;
    padding: 1px 4px 0 0;
    box-sizing: border-box;
    -webkit-flex: 0 1 auto;
    width: 30%;
}
.input-empty{
    opacity: .5;
}
input[type="text"] {
    /*background: #ffffff;*/
    width: 40px;
    font-family:inherit;
    font-size: inherit;
    outline: 0;
    border: 0;
    line-height: 15px;
    padding: 1px 3px 0;
    -webkit-border-radius: 1px;

    box-shadow: 0 0 0 1px rgba(0,0,0,0.75) inset;
    cursor: text;
    margin: 0;
    box-sizing: border-box;

}
.text-input input[type="text"] {
    -webkit-appearance:none;
    display: block;

}

input[type="checkbox"] {
    -webkit-appearance:none;
    height: 12px;
    width: 12px;
    border: none;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.5) inset,
        0 1px rgba(255,255,255, .15);

    -webkit-align-self: center;
}
input[type="checkbox"]:checked {
    background: rgba(0,0,0,0.5);
}

.checkbox-input {
    line-height: 14px;
    padding: 5px 0 0;

}
.checkbox-input.form-input label {
    width: auto;
    display: -webkit-flex;
    text-align: left;
}
.checkbox-label {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: normal;

    -webkit-align-self: center;
}
.checkbox-input input[type="checkbox"] {
    margin-right: 9px;
}

.icon{
    position: relative;
    min-width: 20px;
    height: 20px;
    display: inline-block;
}
.icon-button {
    -webkit-border-radius: 2px;
}

.icon:before{
    content: '';
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    display:inline-block;
    vertical-align: top;
    background: url(icons.png) no-repeat 3px 4px;
}


/* range input */
input[type='range']{
    background: rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px rgba(255,255,255,.2), 0 0 0 1px rgba(0,0,0,.2) inset, 0 1px 2px rgba(0,0,0,.2) inset;
    height: 5px;
    -webkit-border-radius: 3px;
}
input[type='range']::-webkit-slider-thumb{
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e1e1e1));
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.4), 0 1px 3px rgba(0,0,0,.3);
    height:8px;
    width:8px;
    -webkit-border-radius: 4px;
}

.test-stuff {
    position: absolute;
    bottom: 0;
}


.icon-button:before  {
    width: 16px;
    height: 18px;
    display: inline-block;
    vertical-align: -3px;
    margin-right: 5px;
}

.both.button:before {
    content: url(../images/both-dark.png);
}
.horz.button:before {
    content: url(../images/horz-dark.png);

}
.vert.button:before {
    content: url(../images/vert-dark.png);
}

.light-ui .both.button:before {
    content: url(../images/both-light.png);

}
.light-ui .horz.button:before {
    content: url(../images/horz-light.png);

}
.light-ui .vert.button:before {
    content: url(../images/vert-light.png);
}


